.footer-container {
    background-color: #333;
    color: $white;
    padding-top: 50px;
    padding-bottom: 50px;

    .footer {

        .footer-1 {
            
            .footer-contact-heading {
                position: relative;
               
                &::after {
                    content: '';
                    position: absolute;
                    width: 115px;
                    height: 3px;
                    background-color: $white;
                    left: 0;
                    bottom: -10px;

                    @include media-breakpoint-down(md) {      
                        width: 90px;
                    }
                }
            }

            .footer-contact-para {
                font-size: 15px;
                margin-top: 50px;
                margin-bottom: 30px;
            }

            .footer-detail {

                .footer-1-icons {
                    margin-right: 30px;
                    cursor: pointer;
                }

            }
        }

        .footer-2 {
            padding-left: 80px;

            @include media-breakpoint-down(md) {      
                padding: 0;
            }

            .footer-links-heading {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 75px;
                    height: 3px;
                    background-color: $white;
                    left: 0;
                    bottom: -10px;

                    @include media-breakpoint-down(md) {      
                        width: 60px;
                    }
                }
            }

            .footer-list {
                margin-top: 50px;
                padding: 0;
                
                .footer-links-list {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: $white;
                        font-size: 15px;
                    }
                }
            }
        }

        .footer-3 {
            padding-left: 50px;

            @include media-breakpoint-down(md) {      
                padding: 0;
            }

            .footer-social-heading {
                position: relative;
               
                &::after {
                    content: '';
                    position: absolute;
                    width: 187px;
                    height: 3px;
                    background-color: $white;
                    left: 0;
                    bottom: -10px;

                    @include media-breakpoint-down(md) {      
                        width: 145px;
                    }
                }
            }

            .social-list {
                list-style-type: none;
                padding: 0;
                margin-top: 50px;
                display: flex;

                .social-icons-list {
                    margin-right: 10px;

                    .social-anker {
                        text-decoration: none;

                        .footer-icons {
                            font-size: 17px;
                            color: $white;
                            background-color: $grey;
                            width: 40px;
                            height: 40px;
                            border-radius: 50px;
                            display: grid;
                            place-items: center;
                            text-decoration: none;
    
                            &:hover {
                                background-color: $black;
                                color: $white;  
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-bottom {
    background-color: $green;

    .partners {
        display: flex;
        padding: 20px 0 20px 0;

        .partner-logos {
            margin-right: 20px;
            .partner-logo-img {
                width: 100%;
                max-width: 80px;
                min-height: 53px;
                border-radius: 2px;
            }
        }
    }

    .footer-bottm-detail {
        color: $white;
        font-size: 14px;

        @include media-breakpoint-down(md) {      
            text-align: center;
        }
    }
}